@page "/asset-types/new"
@page "/asset-types/{id}"
@layout AssetTypesLayout
@inject IAssetTypesService AssetTypesService

@if (assetType == null)
{
    <MudSkeleton Class="mt-3" SkeletonType="SkeletonType.Rectangle" Animation=Animation.Wave Width="400px" Height="300px" />
}
else
{
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudGrid>
                <MudItem Class="mb-2">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Tertiary" IconColor="Color.Default" Size="Size.Medium">Save</MudButton>
                    </MudItem>
                <MudItem>
                    @if (assetType.Archived)
                    {
                        <MudButton Variant="Variant.Filled" @onclick="Archived" StartIcon="@Icons.Material.Filled.Archive" Color="Color.Secondary" IconColor="Color.Default" Size="Size.Medium">Archived</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" @onclick="Archived" StartIcon="@Icons.Material.Filled.Unarchive" Color="Color.Secondary" IconColor="Color.Default" Size="Size.Medium">Unarchived</MudButton>
                    }
                </MudItem>
            </MudGrid>
            <MudForm Disabled=@assetType.Archived>
                <MudTextField Class="mt-3" T="string" @bind-Value="@assetType.Name" Variant=Variant.Outlined Label="Name" Required="true" RequiredError="Name is required!"/>
                <MudItem Class="d-flex mt-3">
                    <MudTextField T="string" @bind-Value="@assetType.ShortName" Variant=Variant.Outlined Label="Short name" Required="true" RequiredError="Short name is required!"/>
                    <MudCheckBox Class="mt-2" T="bool" Value="autoGenerateShortName" Label="Generate Short name" ValueChanged="@(e => AutoGenerateShortName())"></MudCheckBox>
                </MudItem>
                <MudSelect Value="@assetTypeIcon" Label="Icon" Variant="Variant.Outlined" Class="mt-3">
                    <MudSelectItem Value="@("Computer")" Class="select-item">
                        <div class="icon-container">
                            <MudIcon Icon="@Icons.Material.Outlined.Computer" class="mr-1"/>
                            <span>Computer</span>
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="@("Laptop")">
                        <div class="icon-container">
                            <MudIcon Icon="@Icons.Material.Outlined.LaptopMac" class="mr-1"/>
                            <span>Laptop</span>
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="@("Monitor")">
                        <div class="icon-container">
                            <MudIcon Icon="@Icons.Material.Outlined.DesktopWindows" class="mr-1"/>
                            <span class="icon-text">Monitor</span>
                        </div>
                    </MudSelectItem>
                </MudSelect>
            </MudForm>
        </MudPaper>
    </MudItem>
}



@code {
    [Parameter]
    public string? Id { get; set; }

    AssetType assetType = null!;
    string assetTypeIcon = "";
    bool autoGenerateShortName = false;

    protected override async Task OnParametersSetAsync()
    {
        assetType = new AssetType();
        autoGenerateShortName = false;
        if (Id is not null)
        {
            assetType = await AssetTypesService.GetAssetTypeById(Id);
        }
        assetTypeIcon = assetType.Name;
        StateHasChanged();
    }


    private void AutoGenerateShortName()
    {
        if (assetType.Name != null  && assetType.Name != string.Empty)
        {
            string name = AssetTypesService.GenerateShortName(assetType.Name);
            assetType.ShortName = AssetTypesService.GenerateShortName(assetType.Name);
            autoGenerateShortName = true;
        }
        else
        {
            autoGenerateShortName = false;
        }
    }
    
    private void Archived()
    {
        assetType.Archived = !assetType.Archived;
    }
}
