@page "/report"
@attribute [Authorize]
@using MRA.AssetsManagement.Web.Client.Services.ReportService
@using MRA.AssetsManagement.Web.Shared.Purchas
@inject IReportService ReportService
@inject IAssetTypesService AssetTypesService
@inject IIconService IconService

<MudCard Class="pa-3">
    <MudCartContent>
        <MudItem>
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowLeft" Size="Size.Small" OnClick="MinusTwoDays"/>
                <MudDateRangePicker @bind-DateRange="_dateRange" Variant="Variant.Outlined" Margin="Margin.Dense" MaxDate="DateTime.Today"/>
                <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowRight" Size="Size.Small" OnClick="AddTwoDays"/>
                <MudSelect Margin="Margin.Dense" T="string" Label="Type" Variant="Variant.Outlined" @bind-Value="@SelectedType">
                    @foreach (var type in _types)
                    {
                        <MudSelectItem Value="@type.Name">
                            <MudStack Row="true" Spacing="2">
                                <MudIcon Icon="@IconService.GetIcon(type.Name)" />
                                <MudText>@type.Name</MudText>
                            </MudStack>
                        </MudSelectItem>
                    }
                </MudSelect>

                <MudSpacer/>
                <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary">
                    <MudText>Go</MudText>
                </MudButton>
            </MudStack>
        </MudItem>
        <MudItem Class="mt-3">
            <h5>All units: @_purches.Count</h5>
        </MudItem>
    </MudCartContent>
</MudCard>

<MudTable Items="@_purches" Hover="true" Dense="true" FixedHeader="true">
    <HeaderContent>
        <MudTh>Type</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>Quantity</MudTh>
    </HeaderContent>
    <RowTemplate>
        @if (_loading)
        {
            <MudTd DataLabel="Type">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Name">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Price">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Quantity">
                <MudSkeleton/>
            </MudTd>
        }
        else
        {
            <MudTd DataLabel="Type">
                <MudStack Row="true" Spacing="2">
                    <MudIcon Icon="@IconService.GetIcon(context.AssetType!)" />
                    <MudText>@context.AssetType</MudText>
                </MudStack>
            </MudTd>
            <MudTd DataLabel="Name">@context.AssetName</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
        }
    </RowTemplate>
    <FooterContent>
        <MudTd>
            <b>Total price</b>
        </MudTd>
        <MudTd></MudTd>
        <MudTd>
            <b>@TotalPrice</b>
        </MudTd>
        <MudTd></MudTd>
    </FooterContent>
</MudTable>

@code {

    private bool _loading = true;
    private DateRange _dateRange = new DateRange(DateTime.Today.AddDays(-2), DateTime.Today);
    private string? SelectedType { get; set; }
    private List<GetAssetType> _types = new List<GetAssetType>();
    private List<GetPurchasedAssets> _purches = new List<GetPurchasedAssets>();
    private readonly bool _processing = false;
    private decimal TotalPrice => _purches.Sum(item => item.Price);

    protected override async Task OnInitializedAsync()
    {
        _types = await AssetTypesService.GetAll();
        _types.Add(new GetAssetType() { Name = "All", Icon = "circle"});
        _loading = true;
    }
   
    private void AddTwoDays()
    {
        _dateRange = new DateRange(_dateRange.Start?.AddDays(2), _dateRange.End?.AddDays(2));
        StateHasChanged();
    }

    private void MinusTwoDays()
    {
        _dateRange = new DateRange(_dateRange.Start?.AddDays(-2), _dateRange.End?.AddDays(-2));
        StateHasChanged();
    }

    private async Task ProcessSomething()
    {
        _loading = true;
        var id = _types.FirstOrDefault(x => x.Name == SelectedType)?.Id;
        if (id == null)
        {
        }
        _purches = await ReportService.GetPurchases(new PurchasedAssetsRequest()
        {
            FromDate = _dateRange.Start!.Value,
            ToDate = _dateRange.End!.Value,
            AssetTypeId = id
        });
        _loading = false;
        StateHasChanged();
    }
}