@page "/report"

@attribute [Authorize]

@attribute [Authorize(Roles = "SuperAdmin, ApplicationAdmin")]

@inject IReportService ReportService
@inject IAssetTypesService AssetTypesService
@inject IIconService IconService


<MudCard Class="pa-3">
    <MudCardContent>
        <MudItem>
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowLeft" aria-label="delete" OnClick="SubstractMonth"/>
                <MudDateRangePicker @bind-DateRange="_dateRange" Variant="Variant.Outlined" Margin="Margin.Dense" MaxDate="DateTime.Today"/>
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight" aria-label="delete" OnClick="AddMonth"/>
                <MudSelect Margin="Margin.Dense" T="string" Label="Type" Variant="Variant.Outlined" @bind-Value="@SelectedTypeId">
                    <MudSelectItem T="string" Value="@("all")">
                        <MudStack Row="true" Spacing="2">
                            <MudIcon Icon="@Icons.Material.Outlined.Check"/>
                            <MudText>All</MudText>
                        </MudStack>
                    </MudSelectItem>
                    @foreach (var type in _types)
                    {
                        <MudSelectItem T="string" Value="@type.Id">
                            <MudStack Row="true" Spacing="2">
                                <MudIcon Icon="@IconService.GetIcon(type.Icon)"/>
                                <MudText>@type.Name</MudText>
                            </MudStack>
                        </MudSelectItem>
                    }
                </MudSelect>

                <MudSpacer/>
                <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary">
                    <MudText>Go</MudText>
                </MudButton>
            </MudStack>
        </MudItem>
        <MudItem Class="mt-3">
            <h5>All units: @_purchases.Count</h5>
        </MudItem>
    </MudCardContent>
</MudCard>

@if (_loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
}

<MudTable Items="@_purchases" Hover="true" Dense="true" FixedHeader="true" Class="mt-3">
    <HeaderContent>
        <MudTh>Type</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Quantity</MudTh>
        <MudTh>Price</MudTh>
    </HeaderContent>
    <RowTemplate>
        @if (_loading)
        {
            <MudTd DataLabel="Type">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Name">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Date">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Quantity">
                <MudSkeleton/>
            </MudTd>
            <MudTd DataLabel="Price">
                <MudSkeleton/>
            </MudTd>
        }
        else
        {
            <MudTd DataLabel="Type">
                <MudStack Row="true" Spacing="2">
                    <MudIcon Icon="@IconService.GetIcon(context.AssetType.Icon!)"/>
                    <MudText>@context.AssetType.Name</MudText>
                </MudStack>
            </MudTd>
            <MudTd DataLabel="Name">@context.AssetName</MudTd>
            <MudTd DataLabel="Date">@context.DateTime</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
        }
    </RowTemplate>
    <FooterContent>
        @if (_purchases.Count != 0)
        {
            <MudTd>
                <b>Total price</b>
            </MudTd>
            <MudTd></MudTd>
            <MudTd></MudTd>
            <MudTd></MudTd>
            <MudTd>
                <b>@TotalPrice</b>
            </MudTd>
        }
    </FooterContent>
    <NoRecordsContent>
        <MudText Style="font-size: 22px">Nothing here</MudText>
    </NoRecordsContent>
</MudTable>


@code {

    private bool _loading = false;
    private DateRange _dateRange = new DateRange(DateTime.Today.AddDays(-2), DateTime.Today);
    private string SelectedTypeId { get; set; } = "all";
    private List<GetAssetType> _types = [];
    private List<GetPurchasedAssets> _purchases = [];
    private readonly bool _processing = false;
    private decimal TotalPrice => _purchases.Sum(item => item.Price);

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _types = await AssetTypesService.GetAll();
        _loading = false;
    }

    private void AddMonth()
    {
        _dateRange = new DateRange(_dateRange.Start?.AddMonths(1), _dateRange.End?.AddMonths(1));
        StateHasChanged();
    }

    private void SubstractMonth()
    {
        _dateRange = new DateRange(_dateRange.Start?.AddMonths(-1), _dateRange.End?.AddMonths(-1));
        StateHasChanged();
    }

    private async Task ProcessSomething()
    {
        _loading = true;
        _purchases = await ReportService.GetPurchases(new PurchasedAssetsRequest()
        {
            FromDate = _dateRange.Start!.Value,
            ToDate = _dateRange.End!.Value,
            AssetTypeId = SelectedTypeId == "all" ? null : SelectedTypeId,
        });

        _loading = false;
        StateHasChanged();
    }

}